/* reset rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general rules*/
body{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}
h1{
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
/* general header for the pages*/
header{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/*nav*/
nav ul{
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width:80%;
    margin:auto;
}
nav ul li{
    padding: 5px 10px;
    width:100%;
    text-align:center;
}
nav ul li a{
    color: black;
    font-size: 22px;
}
nav ul li a:hover{
    color: grey;
}
/*/nav*/